@{
    ViewData["Title"] = "Home Page";
 
}
 
<div class="text-center">
    <h2 class="display-1">Hello</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@DateTime.Now

<h1>@DateTime.Now</h1>





    